body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffebee;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #e91e63;
    font-size: 2.5rem;
}

.heart {
    width: 100px;
    height: 100px;
    background-color: #e91e63;
    position: relative;
    transform: rotate(-45deg);
    margin: 180px auto;
    cursor: pointer;
    animation: heartbeat 1.5s infinite;
}

.heart::before,
.heart::after {
    content: '';
    width: 100px;
    height: 100px;
    background-color: #e91e63;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 50px;
}

@keyframes heartbeat {
    0%, 100% {
        transform: rotate(-45deg) scale(1);
    }
    50% {
        transform: rotate(-45deg) scale(1.1);
    }
}

.hidden {
    display: none;
}

#message {
    color: #e91e63;
    font-size: 1.5rem;
    margin-top: 20px;
}